body {
  font-family: sans-serif;
  background-color: #F4F4F4;
  color: #333333;
}

a, a:visited {
  text-decoration: none;
  color: #1E68A6;
}

a:hover {
  text-decoration: underline;
  color: #1E68A6;
  background-color: yellow;
}
